.bg-login-image{
	background: url("../img/bg-login.jpg");
	background-position: center;
	background-size: cover;
	border: 0px;
}

.sizeDiv{
	width:40vw;
}


.gradient-custom {

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: url("../img/bg-login.jpg")
/*background-image: url("../img/bg-login.jpg");*/
}