#main-menu{
	
	left:unset;
	right: 0;
}

#ordenar-genero{
	cursor:pointer;
}

#form-container{
	width:40vw;
}
.dropdown-menu{
    background-image: url("../img/bg-login.jpg");
    background-size: cover;
    
}